/* .category-button {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
} */

.center-anchor {
    text-align: center;
}

.center-anchor a {
    display: inline-block;
    margin: 5px;
    padding: 10px;
}


/* Center the text in the card */
.card-body {
    justify-content: center;
    align-items: center;
}

.card-text {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-title {
    text-align: center;
}


.btn btn-success {
    text-align: center;
    justify-content: center;
}

.custom-left {
    margin-right: auto;
}