{% load static %}

<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lithium Recycle Battery Blog</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans:wght@300;400;500&family=Playfair+Display:ital,wght@1,500&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- Navigation -->
    <nav
      class="navbar navbar-expand-lg bg-body-light"
    >
      <div class="container">
        <!-- Logo Image -->
        <a class="navbar-brand" href="{% url 'home' %}">
          <img
          src="{% static 'template_images/logo.webp' %}"
            alt="Lithium Battery Recycle Blog"
            width="100%"
            height="40px"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#category">Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a
                  class="btn btn-outline-success me-md-2"
                  href="{% url 'account_logout' %}"
                  >Log out</a
                >
              </li>
              {% else %}
              <li class="nav-item">
                <a class="btn btn-success" href="{% url 'account_signup' %}"
                  >Sign up</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="btn btn-outline-success"
                  href="{% url 'account_login' %}"
                  >Log in</a
                >
              </li>
              {% endif %}
            </div>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Alerts messages -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          {% for message in messages %}
          <div
            class="alert {{ message.tags }} alert-dismissible fade show"
            id="msg"
            role="alert"
          >
            {{ message | safe }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Background picture -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 center-image">
          <img
          src="{% static 'template_images/background.webp' %}"
            alt="Cover Image"
            class="img-fluid"
          />
        </div>
      </div>
    </div>

    <!-- Categories buttons -->
    <div id="category">
      <div class="container">
        <div class="row">
          <div class="col-md-12 center-anchor col-custom">
            <div class="mt-5">
              {% for category in categories %}
              <a
                href="{% url 'post_list_by_category' category_name=category.name %}"
                class="btn btn-success"
                ><i
                  class="fa-solid fa-battery-quarter fa-rotate-by fa-sm"
                  style="--fa-rotate-angle: 20deg"
                >
                  Category
                </i>
                {{category.name}}</a
              >
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Post list -->
    <main class="flex-shrink-0 main-bg">
      {% block content %}
      <!-- Content Goes here -->
      {% endblock content %}
    </main>

    <!-- Footer -->
    <div id="contact">
      <section class="container my-5 pt-5">
        <footer
          class="text-center text-lg-start text-dark"
          style="background-color: white"
        >
          <!-- Social media -->
          <div
            class="d-flex justify-content-between p-4 text-white"
            style="background-color: #157347; font-size: larger"
          >
            <div class="me-5">
              <span><h4>YOU CAN ALSO FIND US ON SOCIAL MEDIA</h4></span>
            </div>
            <div>
              <a
                href="https://facebook.com/"
                target="_blank"
                rel="noopener"
                aria-label="visit our facebook page"
                class="text-white me-4"
              >
              <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a
                href="https://twitter.com/"
                target="_blank"
                rel="noopener"
                aria-label="visit our twitter page"
                class="text-white me-4"
              >
                <i class="fab fa-twitter"></i>
              </a>
              <a
                href="https://instagram.com/"
                target="_blank"
                rel="noopener"
                aria-label="visit our instagram page"
                class="text-white me-4"
              >
                <i class="fab fa-instagram"></i>
              </a>
              <a
                href="https://linkedin.com/"
                target="_blank"
                rel="noopener"
                aria-label="visit our linkedin page"
                class="text-white me-4"
              >
                <i class="fab fa-linkedin"></i>
              </a>
              <a
                href="https://github.com/Ahmadalhindi"
                target="_blank"
                rel="noopener"
                aria-label="visit my github page"
                class="text-white me-4"
              >
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
          <!-- About us -->
            <div class="container text-center text-md-start mt-5">
              <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold">About Us</h6>
                  <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
                  <p>
                    Blog website to share the knowledge about recycling lithium
                    battery, and how to improve it with efficient and effective
                    way.
                  </p>
                </div>
                <!-- Contact Us -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                  <h6 class="text-uppercase fw-bold">Contact</h6>
                  <hr
                    class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
                  <p>
                    <i class="fas fa-home mr-3"></i> Stockholm, solna 169 97,
                    Sweden
                  </p>
                  <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                  <p><i class="fas fa-phone mr-3"></i> + 46 534 567 88</p>
                </div>
              </div>
            </div>
          <!-- Copyright -->
          <div
            class="text-center p-3"
            style="background-color: #8efe8b"
          >
            © 2024 Copyright:
            <a class="text-dark" href="{% url 'home' %}"
              >Lithium Battery Recycle Blog</a
            >
          </div>
        </footer>
      </section>
    </div>

    <script>
      setTimeout(function () {
        let messages = document.getElementById("msg");
        let alert = new bootstrap.Alert(messages);
        alert.close();
      }, 2500);
      // Add this script to toggle the active class on click
      $(document).ready(function () {
        $(".category-link").click(function () {
          $(".category-link").removeClass("active");
          $(this).addClass("active");
        });
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/7927b734fe.js"
      crossorigin="anonymous"
    ></script>
  </body>
  
</html>
