{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="masthead">
  <div class="container">
    <div class="row g-0">
        <!-- Back tab to category list -->
      <tab class="col-md-12 center-anchor col-custom mb-3">
        <a href="{% url 'post_list_by_category' category_name=category.name %}" class="btn btn-success"
          >Back to Category list</a
        >
      </tab>
      <div class="col-md-6 masthead-text">
        <!-- post title -->
        <h1 class="post-title">{{ post.title }}</h1>
        <!-- post author and date created -->
        <p class="post-subtitle">{{ post.author }} | {{ post.created_at }}</p>
      </div>
      <div class="d-none d-md-block col-md-6 masthead-image">
        <!-- The featured image URL -->
        {% if "placeholder" in post.featured_image.url %}
        <img
          alt="card-image-blog"
          src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
          width="100%"
        >
        {% else %}
        <img src=" {{ post.featured_image.url }}" alt="card-image-blog-default">
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col card mb-4 mt-3 left top">
      <div class="card-body">
        <!-- post content -->
        <p class="card-text">{{ post.content | safe }}</p>
        <div class="row">
          <div class="col-1">
            <strong>
              {% if user.is_authenticated %}
              <form
                class="d-inline"
                action="{% url 'post_like' post.slug %}"
                method="POST"
              >
                {% csrf_token %} {% if liked %}
                <button
                  type="submit"
                  name="blogpost_id"
                  value="{{post.slug}}"
                  class="btn-like"
                >
                  <i
                    class="fa-solid fa-heart-circle-bolt fa-xl"
                  ></i>
                </button>
                {% else %}
                <button
                  type="submit"
                  name="blogpost_id"
                  value="{{post.slug}}"
                  class="btn-like"
                >
                  <i class="fa-solid fa-heart fa-xl"></i>
                </button>
                {% endif %}
              </form>
              {% else %}
              <span class="text-secondary"
                ><i
                  class="fa-solid fa-heart-circle-bolt fa-xl"
                ></i
              ></span>
              {% endif %}
              <!-- The number of likes -->
              <span class="text-secondary">{{ post.number_of_likes }} </span>
            </strong>
          </div>
          <div class="col-1">
            {% with comments.count as total_comments %}
            <strong class="text-secondary"
              ><i class="fa-solid fa-comments fa-xl"></i>
              <!-- Total_comments -->
              {{ total_comments }}</strong
            >
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
    <!-- Back tab to category list -->
    <tab class="col-md-12 center-anchor col-custom mb-3">
      <a href="{% url 'post_list_by_category' category_name=category.name %}" class="btn btn-success"
        >Back to Category list</a
      >
    </tab>
  </div>
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3">
      <h3>Comments:</h3>
      <div class="card-body">
        <!-- for loop to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="comments" style="padding: 10px">
          <!-- Comment name -->
          <p class="font-weight-bold">
            {{ comment.name }}
            <!-- Comment date -->
            <span class="text-muted font-weight-normal">
              {{ comment.created_at }}
            </span>
            wrote:
          </p>
          <!-- The comment's body -->
          {{ comment.body | linebreaks }}
        </div>
        <!-- Comment delete section -->
        <div class="delete-comment">
          {% if user.is_authenticated and user.username == comment.name %}
            <form method="post" action="{% url 'post_detail' slug=post.slug %}">
              {% csrf_token %}
              <input type="hidden" name="delete_comment_id" value="{{ comment.id }}">
              <button type="submit" class="btn btn-outline-danger btn-sm">Delete Comment</button>
            </form>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Write comment with approval alarm --> 
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        {% if commented %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting approval
        </div>
        {% else %} {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em">
          {{ comment_form | crispy }} {% csrf_token %}
          <button type="submit" class="btn btn-outline-success btn-sm">
            Post Comment
          </button>
        </form>
        {% endif %} {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
